/* start globle rules */
:root {
  --main-font: Averia Serif Libre, cursive;
  --sec-font: "Iceland", cursive;
  --main-color: #253bee;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  perspective: 3000px;
}
@media (min-width: 430px) {
  .container {
    width: 428px;
  }
}
/* end globle rules */

/* start haeder saction */
.header .container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .container .add {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  background-color: var(--main-color);
}
.header .container p {
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  color: var(--main-color);
}
/* end haeder saction */

/* *start leanding section */

.bank .container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.bank .container .card {
  margin: auto;
  width: 408px;
  height: 233px;
  position: relative;
  transition: 10s;
  /* transform: rotatey(180deg);
  overflow: hidden; */
  border-radius: 10px;
}
@media (max-width: 420px) {
  .bank .container .card {
    width: 355px;
    height: 202px;
  }
}
/* .bank .container .card:hover {
  transform: rotatey(360deg);
  overflow: hidden;
}
.bank .container .card:hover .bank .container .card .front-face {
  display: none;
} */

.bank .container .card .front-face,
.bank .container .card .back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/img1.png);
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.bank .container .card .back-face {
  margin-top: 300px;
  /* transform: rotateY(180deg); */
}

/* **start front-face section */
/* ?start front-face header section */
.bank .container .card .front-face .front-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 15px;
}
.bank .container .card .front-face .front-header h3 {
  margin: 0;
  font-size: 40px;
  color: white;
  font-family: sans-serif;
  text-shadow: 1px 1px 1px #000000;
}
@media (max-width: 420px) {
  .bank .container .card .front-face .front-header h3 {
    font-size: 31px;
  }
}
.bank .container .card .front-face .front-header .logo {
  display: flex;
  align-items: center;
  background-color: gainsboro;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  position: relative;
}
.bank .container .card .front-face .front-header .logo::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 27px solid gainsboro;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -54px;
  top: -1px;
}

.bank .container .card .front-face .front-header .logo img {
  width: 11px;
  margin-right: 5px;
}
.bank .container .card .front-face .front-header .logo p {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
}
.bank .container .card .front-face .front-header .logo p span {
  font-weight: bold;
}

@media (max-width: 420px) {
  .bank .container .card .front-face .front-header .logo p {
    font-size: 15px;
  }
}
/* ?end front-face header section */

/* ?start front-face leanding section */
.bank .container .card .front-face .front-leanding {
  padding: 15px 15px 15px 15px;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media (max-width: 420px) {
  .bank .container .card .front-face .front-leanding {
    padding: 10px 10px 10px 10px;
  }
}
.bank .container .card .front-face .front-leanding .left {
  display: flex;
  align-items: center;
}
.bank .container .card .front-face .front-leanding .left i {
  font-size: 25px;
  margin-right: 10px;
  color: white;
}
.bank .container .card .front-face .front-leanding .left .check {
  position: relative;
  width: 60px;
  height: 45px;
  background-image: linear-gradient(
    90deg,
    rgba(123, 125, 122, 1) 0%,
    rgba(231, 236, 230, 0.9839286056219363) 50%,
    rgba(123, 125, 122, 0.9839286056219363) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.bank .container .card .front-face .front-leanding .left .check::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: #0000009e;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bank .container .card .front-face .front-leanding .left .check::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: #0000009e;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bank .container .card .front-face .front-leanding .left .check span {
  width: 30px;
  height: 100%;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 0.5px solid #0000009e;
}
.bank .container .card .front-face .front-leanding .right {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;
  height: 35px;
  width: 50px;
}
.bank .container .card .front-face .front-leanding .right .circle:nth-child(1) {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border-right: 4px solid white;
}
.bank .container .card .front-face .front-leanding .right .circle:nth-child(2) {
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border-right: 4px solid white;
}
.bank .container .card .front-face .front-leanding .right .circle:nth-child(3) {
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border-right: 4px solid white;
}
.bank .container .card .front-face .front-leanding .right .circle:nth-child(4) {
  width: 10%;
  height: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border-right: 4px solid white;
}
/* ?end front-face leanding section */

/* ?start front-face number section */
.bank .container .card .front-face .front-number {
  padding-left: 35px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (max-width: 420px) {
  .bank .container .card .front-face .front-number {
    padding-bottom: 7px;
    padding-top: 7px;
  }
}
.bank .container .card .front-face .front-number h3 {
  margin: 0;
  font-family: var(--sec-font);
  font-size: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 1px #ffffff9e;
}
@media (max-width: 420px) {
  .bank .container .card .front-face .front-number h3 {
    font-size: 26px;
  }
}
/* ?end front-face number section */

/* ?start front-bottom section */
.bank .container .card .front-face .front-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}
.bank .container .card .front-face .front-bottom .name {
  font-family: var(--main-font);
  padding-left: 20px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-shadow: 1px 1px 1px #ffffff9e;
}
@media (max-width: 420px) {
  .bank .container .card .front-face .front-bottom .name {
    font-size: 16px;
  }
}
.bank .container .card .front-face .front-bottom .date {
  display: flex;
  align-items: flex-start;
}

.bank .container .card .front-face .front-bottom .date h3 {
  margin: 0;
  font-family: var(--main-font);
  color: white;
  margin-right: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff9e;
}
@media (max-width: 420px) {
  .bank .container .card .front-face .front-bottom .date h3 {
    font-size: 17px;
  }
}
.bank .container .card .front-face .front-bottom .date .visa {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 47px 20px 47px;
  position: relative;
}
.bank .container .card .front-face .front-bottom .date .visa::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 3px;
  background-color: #21209a;
  left: 4.5px;
  top: 9px;
  transform: skew(-10deg);
}
@media (max-width: 420px) {
  .bank .container .card .front-face .front-bottom .date .visa {
    padding: 17px 36px 17px 36px;
  }
  .bank .container .card .front-face .front-bottom .date .visa::after {
    width: 10px;
    left: 1px;
    top: 8px;
  }
}
.bank .container .card .front-face .front-bottom .date .visa h3 {
  font-size: 30px;
  font-family: "Gill Sans", sans-serif;
  margin: auto;
  color: #21209a;
  position: absolute;
  transform: skew(-10deg);
  font-weight: 900;
  letter-spacing: -1px;
}
@media (max-width: 420px) {
  .bank .container .card .front-face .front-bottom .date .visa h3 {
    font-size: 25px;
  }
}
/* ?end front-bottom section */
/* **end front-face section */

/* *start back-face section */
/* ?start back-header section */
.bank .container .card .back-face .back-header {
  padding: 10px 15px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.bank .container .card .back-face .back-header .claint {
  display: flex;
  align-items: center;
}
.bank .container .card .back-face .back-header .claint p {
  font-family: sans-serif;
  font-size: 11px;
  margin: 0;
}
.bank .container .card .back-face .back-header .claint .number {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.bank .container .card .back-face .back-header .claint .number i {
  margin: 0 5px 0 10px;
  font-size: 12px;
}
.bank .container .card .back-face .back-header .gmail p {
  font-family: sans-serif;
  font-size: 11px;
  margin: 0;
  font-weight: bold;
}
/* ?start back-header section */

/* ?start back-wh覺te*space section */
.bank .container .card .back-face .white-space {
  background-color: #ffffff75;
  padding: 15px;
}
/* ?end back-wh覺te*space section */

/* ?start back-bank-覺nfo section */
.bank .container .card .back-face .bank-info {
  padding: 10px 15px 10px 15px;
  color: white;
}
.bank .container .card .back-face .bank-info p {
  font-family: sans-serif;
  font-size: 9px;
  margin: 0;
  line-height: 10px;
}
.bank .container .card .back-face .bank-info p:nth-child(1) {
  font-weight: bold;
}
/* ?end back-bank-覺nfo section */

/* ?start cvc section */
.bank .container .card .back-face .cvc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 0px;
  color: white;
}
.bank .container .card .back-face .cvc p {
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
}
.bank .container .card .back-face .cvc .cvc-number {
  display: flex;
  align-items: center;
}
.bank .container .card .back-face .cvc .cvc-number .white-space {
  padding-right: 220px;
  margin-right: 10px;
  background-color: gainsboro;
}
.bank .container .card .back-face .cvc .cvc-number p {
  font-size: 23px;
  font-family: var(--sec-font);
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff9e;
}
.bank .container .card .back-face .cvc .cvc-info {
  display: flex;
  align-items: center;
}
.bank .container .card .back-face .cvc .cvc-info i {
  margin-right: 10px;
  font-size: 21px;
}
/* ?end cvc section */
.bank .container .card .back-face .back-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  padding: 5px 15px 5px 15px;
}
.bank .container .card .back-face .back-bottom p {
  margin: 0;
  font-family: sans-serif;
}
.bank .container .card .back-face .back-bottom .title p {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
  line-height: 22px;
}
.bank .container .card .back-face .back-bottom .icon {
  text-align: center;
  border-radius: 20px;
  background-color: transparent;
}
.bank .container .card .back-face .back-bottom .icon i {
  font-size: 30px;
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}
.bank .container .card .back-face .back-bottom .icon i:nth-child(2) {
  margin-left: -15px;
  color: #ffffffd9;
}
.bank .container .card .back-face .back-bottom .icon p {
  font-size: 13px;
}
/* ?start bottom section */

/* ?end bottom section */
/* *end back-face section */
/* *end leanding section */
